<a href="https://colab.research.google.com/github/lukmanprasetyo/H8_KS009/blob/master/Advanced_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Visualisasi Menengah 1**

In [1]:
import numpy as np
import pandas as pd
from PIL import Image

In [2]:
dataset_url = "https://github.com/ardhiraka/PFDS_sources/blob/master/Canada.xlsx?raw=true"

In [3]:
df_can = pd.read_excel(dataset_url,
                  	sheet_name='Canada by Citizenship',
                  	skiprows=range(20),
                  	skipfooter=2)

print('Data downloaded and read into a dataframe')

Data downloaded and read into a dataframe

In [4]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [5]:
print(df_can.shape)

(195, 43)