<a href="https://colab.research.google.com/github/lukmanprasetyo/H8_KS009/blob/master/Linear_Regression_FinalProject1NoSubmit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
#Checking if the files are available
!ls "drive/My Drive"

ls: cannot access 'drive/My Drive': No such file or directory

In [ ]:
import os
os.environ["KAGGLE_CONFIG_DIR"] = '/content/drive/MyDrive/dataset'

In [ ]:
%cd drive/MyDrive/dataset/

[Errno 2] No such file or directory: 'drive/MyDrive/dataset/'
/content/drive/MyDrive/dataset/uber-and-lyft-dataset-boston-ma

In [ ]:
%cd drive/MyDrive/dataset/uber-and-lyft-dataset-boston-ma

[Errno 2] No such file or directory: 'drive/MyDrive/dataset/uber-and-lyft-dataset-boston-ma'
/content/drive/MyDrive/dataset

In [ ]:
!kaggle datasets download -d brllrb/uber-and-lyft-dataset-boston-ma

uber-and-lyft-dataset-boston-ma.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip uber-and-lyft-dataset-boston-ma.zip -d uber-and-lyft-dataset-boston-ma

Archive:  uber-and-lyft-dataset-boston-ma.zip
  inflating: uber-and-lyft-dataset-boston-ma/rideshare_kaggle.csv

In [ ]:
%cd uber-and-lyft-dataset-boston-ma

[Errno 2] No such file or directory: 'uber-and-lyft-dataset-boston-ma'
/content

In [ ]:
%cd drive/MyDrive/dataset/uber-and-lyft-dataset-boston-ma

[Errno 2] No such file or directory: 'drive/MyDrive/dataset/uber-and-lyft-dataset-boston-ma'
/content

# **FINAL PROJECT 1: LINEAR REGRESSION**
* LUKMAN PRASETYO NUGROHO (PYTN-KS09-004)
* SEPHIA UMMIYATIL AZIZAH (PYTN-KS09-005)
* NATHANIA GUNAWAN (PYTN-KS09-006)

# **Perkenalan**
Dataset yang digunakan berasal dari daftar harga uber & Lyft, yang berisi 57 kolom.

id, timestamp, hour, day, month, datetime, timezone, source, destination, cab_type, product_id, name, price, distance, surge_multiplier, latitude, longitude, temperature, apparentTemperature, short_summary, long_summary, precipIntensity, precipProbability, humidity, windSpeed, windGust, windGustTime, visibility, temperatureHigh, temperatureHighTime, temperatureLow, temperatureLowTime, apparentTemperatureHigh, apparentTemperatureHighTime, apparentTemperatureLow, apparentTemperatureLowTime, icon, dewPoint, pressure, windBearing, cloudCover, uvIndex, visibility.1, ozone, sunriseTime, sunsetTime, moonPhase, precipIntensityMax, uvIndexTime, temperatureMin, temperatureMinTime, temperatureMax, temperatureMaxTime, apparentTemperatureMin, apparentTemperatureMinTime, apparentTemperatureMax, dan apparentTemperatureMaxTime

# **Import Library Yang digunakan**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling
import pickle

%matplotlib inline

# **Data Loading**

In [ ]:
#Menampilkan data yang akan diproses
import pandas as pd
df = pd.read_csv("rideshare_kaggle.csv")
df

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [ ]:
#Mengetahui jumlah kolom, serta tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           693071 non-null  object
 1   timestamp                    693071 non-null  float64
 2   hour                         693071 non-null  int64
 3   day                          693071 non-null  int64
 4   month                        693071 non-null  int64
 5   datetime                     693071 non-null  object
 6   timezone                     693071 non-null  object
 7   source                       693071 non-null  object
 8   destination                  693071 non-null  object
 9   cab_type                     693071 non-null  object
 10  product_id                   693071 non-null  object
 11  name                         693071 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     693071 non-null  float64
 14  surge_multiplier             693071 non-null  float64
 15  latitude                     693071 non-null  float64
 16  longitude                    693071 non-null  float64
 17  temperature                  693071 non-null  float64
 18  apparentTemperature          693071 non-null  float64
 19  short_summary                693071 non-null  object
 20  long_summary                 693071 non-null  object
 21  precipIntensity              693071 non-null  float64
 22  precipProbability            693071 non-null  float64
 23  humidity                     693071 non-null  float64
 24  windSpeed                    693071 non-null  float64
 25  windGust                     693071 non-null  float64
 26  windGustTime                 693071 non-null  int64
 27  visibility                   693071 non-null  float64
 28  temperatureHigh              693071 non-null  float64
 29  temperatureHighTime          693071 non-null  int64
 30  temperatureLow               693071 non-null  float64
 31  temperatureLowTime           693071 non-null  int64
 32  apparentTemperatureHigh      693071 non-null  float64
 33  apparentTemperatureHighTime  693071 non-null  int64
 34  apparentTemperatureLow       693071 non-null  float64
 35  apparentTemperatureLowTime   693071 non-null  int64
 36  icon                         693071 non-null  object
 37  dewPoint                     693071 non-null  float64
 38  pressure                     693071 non-null  float64
 39  windBearing                  693071 non-null  int64
 40  cloudCover                   693071 non-null  float64
 41  uvIndex                      693071 non-null  int64
 42  visibility.1                 693071 non-null  float64
 43  ozone                        693071 non-null  float64
 44  sunriseTime                  693071 non-null  int64
 45  sunsetTime                   693071 non-null  int64
 46  moonPhase                    693071 non-null  float64
 47  precipIntensityMax           693071 non-null  float64
 48  uvIndexTime                  693071 non-null  int64
 49  temperatureMin               693071 non-null  float64
 50  temperatureMinTime           693071 non-null  int64
 51  temperatureMax               693071 non-null  float64
 52  temperatureMaxTime           693071 non-null  int64
 53  apparentTemperatureMin       693071 non-null  float64
 54  apparentTemperatureMinTime   693071 non-null  int64
 55  apparentTemperatureMax       693071 non-null  float64
 56  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 301.4+ MB

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
df.shape

(693071, 57)

In [ ]:
df.nunique()

id                             693071
timestamp                       36179
hour                               24
day                                17
month                               2
datetime                        31350
timezone                            1
source                             12
destination                        12
cab_type                            2
product_id                         13
name                               13
price                             147
distance                          549
surge_multiplier                    7
latitude                           11
longitude                          12
temperature                       308
apparentTemperature               319
short_summary                       9
long_summary                       11
precipIntensity                    63
precipProbability                  29
humidity                           51
windSpeed                         291
windGust                          286
windGustTime                       25
visibility                        227
temperatureHigh                   129
temperatureHighTime                23
temperatureLow                    133
temperatureLowTime                 31
apparentTemperatureHigh           124
apparentTemperatureHighTime        27
apparentTemperatureLow            136
apparentTemperatureLowTime         32
icon                                7
dewPoint                          313
pressure                          316
windBearing                       195
cloudCover                         83
uvIndex                             3
visibility.1                      227
ozone                             274
sunriseTime                       110
sunsetTime                        114
moonPhase                          18
precipIntensityMax                 65
uvIndexTime                        20
temperatureMin                    131
temperatureMinTime                 25
temperatureMax                    128
temperatureMaxTime                 23
apparentTemperatureMin            137
apparentTemperatureMinTime         29
apparentTemperatureMax            125
apparentTemperatureMaxTime         27
dtype: int64

In [ ]:
df.isna().sum().any()

True

In [ ]:
df = df.dropna()

In [ ]:
##change short summry of weather to binary variables
print(df.short_summary.unique())
for i in df.short_summary.unique():
    df[i] = (df.name == i).astype('int')

[' Mostly Cloudy ' ' Rain ' ' Clear ' ' Partly Cloudy ' ' Overcast '
 ' Light Rain ' ' Foggy ' ' Possible Drizzle ' ' Drizzle ']

In [ ]:
#Data Cleaning
##change day of the week to binary variables
from datetime import datetime
weekday = df.datetime.apply(lambda x: datetime.fromisoformat(str(x)).weekday())
df['Fri'] = (weekday==4).astype(int)
df['Sat'] = (weekday==5).astype(int)
df['Sun'] = (weekday==6).astype(int)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
uber = pd.read_csv("rideshare_kaggle.csv")
lyft = pd.read_csv("rideshare_kaggle.csv")

In [ ]:
lyft = df[:][df.cab_type == "Lyft"]
uber = df[:][df.cab_type == "Uber"]

In [ ]:
print(lyft.product_id.unique())
print(lyft.name.unique())
print(uber.product_id.unique())
print(uber.name.unique())

['lyft_line' 'lyft_premier' 'lyft' 'lyft_luxsuv' 'lyft_plus' 'lyft_lux']
['Shared' 'Lux' 'Lyft' 'Lux Black XL' 'Lyft XL' 'Lux Black']
['6f72dfc5-27f1-42e8-84db-ccc7a75f6969'
 '6c84fd89-3f11-4782-9b50-97c468b19529'
 '55c66225-fbe7-4fd5-9072-eab1ece5e23e'
 '9a0e7b09-b92b-4c41-9779-2ad22b4d779d'
 '6d318bcc-22a3-4af6-bddd-b409bfce1546'
 '997acbb5-e102-41e1-b155-9df7de0a73f2']
['UberXL' 'Black' 'UberX' 'WAV' 'Black SUV' 'UberPool']

In [ ]:
uber_X = uber[['distance','surge_multiplier','Fri', 'Sat','Sun',
               'UberPool','UberXL','Black','Black SUV', 'WAV', #Use UberX as base line
               ' Mostly Cloudy ', ' Rain ', ' Partly Cloudy ', #Use Clear as baseline
               ' Overcast ', ' Light Rain ', ' Foggy ', ' Possible Drizzle ',
               ' Drizzle ']]
uber_y = uber['price']
lyft_X = lyft[['distance','surge_multiplier','Fri', 'Sat','Sun',
               'Shared','Lyft XL','Lux Black XL','Lux', 'Lux Black',
               ' Mostly Cloudy ', ' Rain ', ' Partly Cloudy ', 
               ' Overcast ', ' Light Rain ', ' Foggy ', ' Possible Drizzle ',
               ' Drizzle ']]
lyft_y = lyft['price']

from sklearn.model_selection import train_test_split
#train test split
uber_X_train, uber_X_test, uber_y_train, uber_y_test = train_test_split(
    uber_X, uber_y, test_size=0.20, random_state=325)
#train test split
lyft_X_train, lyft_X_test, lyft_y_train, lyft_y_test = train_test_split(
    lyft_X, lyft_y, test_size=0.20, random_state=325)

KeyError: ignored