# **Final Project 2 : Logistic Regression dan SVM**

# **A. Perkenalan**

Nama : Lukman Prasetyo Nugroho (PYTN-KS09-004)

**Latar Belakang** \
Australia mempunyai iklim yang bervariasi di delapan negara bagian dan wilayahnya. Kebanyakan wilayah australia memiliki empat musim, sementara musim kering dan hujan berlangsung di wilayah tropis di utara benua.
Jumlah tahunan curah hujan di australia sendiri sekitar 622 mm. Faktor yang mempengaruhi curah hujan diantaranya suhu, kelembaban, tekanan udara, kecepatan angin, dan lain sejenisnya.
Berdasarkan faktor faktor tersebut, dapat dilakukan analisa untuk membuat model untuk memprediksi terjadinya hujan atau tidak.

**Dataset** \
Dataset yang digunakan berasal dari https://www.kaggle.com/jsphyg/weather-dataset-rattle-package \
Dataset tersebut berisi data perkiraan hujan di seluruh daerah australia selama 10 tahun, yang terdiri dari 23 atribut dan 145460 baris. Atribut yang menjadi target yaitu kolom RainTomorrow yang berisi "No"(Besok tidak hujan) dan "Yes"(Besok terjadi hujan).

**OBJECTIVE**
Tujuan yang ingin dicapai, diantaranya : \

*   Paham konsep Classification dengan Logistic Regression dan SVM
*   Mengetahui cara mempersiapkan data untuk digunakan dalam model Logistic Regression dan SVM
* Mampu mengimplementasikan Logistic Regression dan SVM untuk membuat prediksi
* Menjawab latar belakang mengenai faktor apa saja yang mempengaruhi prediksi cuaca pada hari esok.

# **B. Import Package**

Mengimport package(pustaka) yang digunakan untuk mengolah data dari awal hingga akhir.

In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import accuracy_score,f1_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import pickle

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
!ls "drive/My Drive"

In [3]:
import os
os.environ["KAGGLE_CONFIG_DIR"] = '/content/drive/MyDrive/dataset'

In [4]:
%cd drive/MyDrive/dataset/

/content/drive/MyDrive/dataset

# **C. Data Loading**

In [13]:
df = pd.read_csv("weatherAUS.csv")
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

# **D. Data Cleaning**

# **E. Explorasi Data**

# **F. Data Preprocessing**

# **G. Pendefinisian Model**

# **H. Pelatihan Model**

# **I. Evaluasi Model**

# **J. Model Inference**

# **K. Pengambilan Keputusan**