## Function

In [17]:
def greeting():
	'''Fungsi ini akan menampilkan pesan default yaitu Hello World 10 x'''
	print('Hello world' * 10)

In [18]:
greeting

In [19]:
greeting()

Hello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello worldHello world

In [20]:
greeting.__doc__

'Fungsi ini akan menampilkan pesan default yaitu Hello World 10 x'

In [21]:
dir(greeting)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [22]:
def my_function(p, l): #parameter
	'''Function untuk menghitung luas'''
	print(p * l)
	# return None

In [23]:
my_function()
#memang error

TypeError: my_function() missing 2 required positional arguments: 'p' and 'l'

In [24]:
my_function(2, 8)

16

In [25]:
print(my_function(2, 8))

16
None

In [26]:
my_function.__doc__

'Function untuk menghitung luas'

## Calling a Function

In [27]:
#function definition is here
def printme(str):
    "This prints a passed string into this function"
    print(str)
    return;

#buat manggil
printme("panggil pertama")
printme("panggil kedua")

panggil pertama
panggil kedua

## Pass By Reference Vs Value

#### Maksudnya parameter dalam satu fungsi akan kembali ke fungsi pemanggil

In [28]:
# Function definition is here
def changeme(mylist):
	"This changes a passed list into this function"
	mylist.append([1, 2, 3, 4])
	print("Values inside the function: ", mylist)
	return


# Now you can call the changeme function
mylist = [10, 20, 30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

#### diteruskan oleh reference dan reference kemudian di overwritte

In [29]:
# Function definition is here
def changeme(mylist):
	'''This changes a passed list into this function'''
	mylist = [1, 2, 3, 4] # This would assign new reference in mylist
	print("Values inside the function: ", mylist) #** 1 2 3 4
	return


# Now you can call changeme function
mylist = [10, 20, 30]
changeme(mylist)
print("Values outside the function: ", mylist)  #**10, 20, 30

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

## Keyword Arguments

In [30]:
# Function definition is here
def print_info(name, age):
	'''This prints a passed info this function'''
	print("Name: ", name)
	print("Age: ", age)
	return

# Now you can call printinfo function
print_info("ari", 45)

Name:  ari
Age:  45

In [31]:
print_info(45, "ari")
#       	(name, age)

Name:  45
Age:  ari

In [32]:
print_info(nama="ari", age=45)
#memang error

TypeError: print_info() got an unexpected keyword argument 'nama'

In [33]:
print_info(age=45, name="ari")

Name:  ari
Age:  45

In [36]:
#before
print_info('Ira')

TypeError: print_info() missing 1 required positional argument: 'age'

In [37]:
#modify
# Function definition is here
def print_info(name, age=17):
	'''This prints a passed info this function'''
	print("Name: ", name)
	print("Age: ", age)
	return

In [38]:
#after
print_info('Ira')
print_info('Indira')
print_info('Dira')

Name:  Ira
Age:  17
Name:  Indira
Age:  17
Name:  Dira
Age:  17

In [39]:
# Function definition is here
def print_info(arg1, *vartuple):
# def print_info(cust_name, *items):
# def print_info(menu, *ingredients):
# def print_info(nasabah, *loan)

IndentationError: expected an indented block (2630231716.py, line 5)

## variable-length argument

In [56]:
# Function definition is here
def print_info(arg1, *vartuple):
	"This prints a variable passed arguments"
	print("Output is: ")
	print(arg1)
	for var in vartuple:
    	print(var)
    return;

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [57]:
# Now you can call printinfo function
print_info( 10 )
# (arg1, *vartuple= () )
print_info( 70, 60, 50, "a" )
# arg1, *vartuple= (60, 50, "a") )

Name:  10
Age:  17

TypeError: print_info() takes from 1 to 2 positional arguments but 4 were given

In [60]:
# Function definition is here
def buy(cust_name, **items):
	'''This prints items bought by a customer '''
    
	print("Customer name: ", cust_name)
    
	for key in items:
# 	for item in items.keys():
    	print("item ke-",key, ": ", items[key])
    
	return

TabError: inconsistent use of tabs and spaces in indentation (3579396280.py, line 9)

In [61]:
buy("Ani", first="egg", second="sugar", third="salt", fourth="baking powder")

NameError: name 'buy' is not defined

In [62]:
buy("Nuri", satu="buku")

NameError: name 'buy' is not defined

In [63]:
buy("Nuri", stationary=("buku", "pulpen"), detergent="detergent X")

NameError: name 'buy' is not defined

In [64]:
def calculate_area(p, l):
	'''Function untuk menghitung luas'''
# 	print(p * l)

# 	return p * l

	result = p *l
	return result
# 	return result, "AAAA"

area = calculate_area(10, 8)
# area = 80
print(area)

80

## The Anonymous Functions

In [65]:
# Function definition is here
sum = lambda arg1, arg2: arg1 + arg2
# dari contoh yang sum(10, 20)
# sum = arg1 + arg2
# sum = 10 + 20
# sum = 30


# Now you can call sum as a function
print("Value of total : ", sum(10, 20))

print("Value of total : ", sum(20, 20))

Value of total :  30
Value of total :  40

In [66]:
penjumlahan = lambda arg1, arg2: arg1 + arg2

In [67]:
def penjumlahan (arg1, arg2):
	return arg1 + arg2

In [68]:
x = 10
y = 90
penjumlahan (x, y)

100

## The Return Statement

In [71]:
# Function definition is here
def sum(arg1, arg2):
	'''Add both the parameters and return them.'''
	total = arg1 + arg2
	total2 = total + arg1
	print("Inside the function : ", total)
	return total2

# Now you can call sum function
total = sum(10, 20)
print("Outside the function : ", total)

Inside the function :  30
Outside the function :  40

## Global vs Local Variables

In [72]:
total = 0

def sum(arg1, arg2):
	total = arg1 + arg2
	print("Inside the function local total : ", total)
	return total

def min():
	pass
    
sum(10, 20)
print("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  0

In [76]:
jumlahKucing = 20

def jumlahHewan():
	jumlahAnjing = 30
	return jumlahKucing + jumlahAnjing

def jumlahKelinci():
	return jumlahKucing + jumlahKucing

jumlahHewan()
jumlahKelinci()

40

## Module

In [80]:
>>> import mod
>>> print(mod.s)
Data  Science
>>> mod.a
[100, 200, 300]

>>>mod.foo(['quux', 'corge', 'grault'])
arg = ['quux', 'corge', 'grault']
arg =  ['quux', 'corge', 'grault']
>>> x = mod.Foo()
>>> x
<mod.Foo object at 0x0000019F24B5AAF0>
>>> type(x)
<class 'mod.Foo'>
>>> from mod import s, a, foo
>>> print(s)
Hacktiv8-PTP Python For Data Science
>>> print(a)
[100, 200, 300]
>>> foo(['abcdefg', 'hijklmno'])
arg = ['abcdefg', 'hijklmno']
arg =  ['abcdefg', 'hijklmno']
>>> x = Foo()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'Foo' is not defined
>>>

SyntaxError: invalid syntax (695419679.py, line 3)

In [81]:
mod.a

NameError: name 'mod' is not defined

In [82]:
Pkg1.mod
[packacge.module.object]

NameError: name 'Pkg1' is not defined

In [84]:
>>> import mod
>>> mod

ModuleNotFoundError: No module named 'mod'