In [1]:
print("Hai Pras")

Hai Pras

In [2]:
a = 10
b = 5
print (a+b)
print (a-b)

15
5

Integers

In [3]:
print (10)
print(type(10))

10
<class 'int'>

Floating-Point Numbers

In [4]:
print (4.2)
print(type(4.2))

print (4.)
print (.2)
print (.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

Strings

In [5]:
print("I'm a student")
print('The book title is : "Hacktiv8"')

I'm a student
The book title is : "Hacktiv8"

In [6]:
print(type("Hacktiv8"))
print(type('Hacktiv8'))

<class 'str'>
<class 'str'>

In [7]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

Boolean Type, Boolean Context and ""Truthiness"

In [8]:
print (type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Variabel Assignment

In [10]:
9_kepala_naga = "kepala"  #Error karena penamaan variable diawali dengan angka

SyntaxError: invalid decimal literal (95285118.py, line 1)

In [11]:
nama = "Ani"
Nama = "Ina"
print (nama, Nama)

Ani Ina

variable Nama

In [ ]:
name = "Hacktiv 8 "
age = 20
has_laptops = True
print (name, age, has)

In [13]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Operators and Expressions in Python

In [15]:
a = 4
b = 3

print(a + b) #7
print(a - b) #1
print(a * b) #12
print(a / b)  #division	#1.333
print(a // b) #integer division 1
print(a % b)  #modulo 1
print(a ** b) #pangkat 64
print(type(a / b))  #division	#1.333
print(type(a // b)) #integer division 1

7
1
12
1.3333333333333333
1
1
64
<class 'float'>
<class 'int'>

In [18]:
# * Operators

s = ' foo ' 
s * 8
s * 5 + " hello"

' foo  foo  foo  foo  foo  hello'

String Manipulation

In [21]:
s = "foo "
t = " bar"
u = " baz "

print (s + t)
print (s+t+u)
print (" Hacktiv8 "+" ptp ")

foo  bar
foo  bar baz
 Hacktiv8  ptp

In [ ]:
# in Operators

s = 'foo'
print(s in 'That food for us')
#   'foo'

In [23]:

s = 'foo'
print(s in 'That food for us')
#   'foo'

s = 'ccc'
print(s in 'That food for us')
#   'ccc'

True
False

List python

In [29]:
a = ['foo', 'bar', 'baz', 'qux']
b =  ['baz', 'qux', 'bar', 'foo']

a==b

False

In [32]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14]
print (a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14]

In [41]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print (a[0])
print(a[5])
print(a[-1])
a[2:5]

print(len(a))
print(min(a))
print(max(a))

print (a)
print (a+['grault','garply'])
print (a*2)

foo
corge
corge
6
bar
qux
['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']